body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lnav, .rnav{
  width: 50%;
}
.rnav{
  padding-right: 35px;
}
.rnav a, .ulink{
  text-decoration: none;
  color: #fff;
}
.rnav a:hover, .ulink:hover {
  color: #fff;
}
.green td {
    color: green !important;
}

.red td {
    color: red !important;
}

.dicon {
    width: 40px;
    height: 40px;
}
.dataTables_length, .datatablesSimple_filter{
  margin-bottom: 30px;
}

table.dataTable>thead>tr>th,table.dataTable>thead>tr>td {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

table.dataTable>tfoot>tr>th,table.dataTable>tfoot>tr>td {
  padding: 10px 10px 6px 10px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
tr.green>td:last-child, tr.red>td:last-child{
  display: flex;
  justify-content: center;
}
.dt-orderable-none{
  text-align: center;
}
.print-table {
  font-size: 12px !important;
}


















.top-bar{
  background: #dedede;
  padding: 10px 15px;
}

.statistics{
  margin-top: 20px;
}
.card {
  margin-bottom: 20px;
}
.dicon{
  height: 30px;
}
.a-cal {
  font-size: 14px;
}
.text-lg.fw-bold{
  font-size: 24px;
}
.dlab{
  width: 30%;
}
.d-flex.justify-content-between.align-items-center.date-range-filter {
  margin-bottom: 20px;
}
